<!-- courses-list.component.html -->
<div *ngIf="courses.length > 0" class="courses-grid">
  <mat-card class="course-card" *ngFor="let course of courses">
    <div class="image-container">
      <img [src]="course.imgURL" 
           alt="{{ course.title }} image"
           class="course-image"
         >
      <div class="image-overlay"></div>
    </div>
    
    <mat-card-header>
      <mat-card-title>{{ course.title }}</mat-card-title>
      <mat-card-subtitle class="course-code">{{ course.category.name }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p class="description">{{ course.description }}</p>
      <div class="date-info">
        <p><mat-icon>schedule</mat-icon> Created: {{ course.createdAt | date }}</p>
        <p><mat-icon>update</mat-icon> Updated: {{ course.lastUpdated | date }}</p>
      </div>
    </mat-card-content>

    <mat-card-actions class="actions">
      <button mat-raised-button 
              color="primary" 
              class="action-button"
              [routerLink]="['/courses', course.id]">
        <mat-icon>visibility</mat-icon> View
      </button>

 
    </mat-card-actions>
  </mat-card>
</div>